################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Neoris/FileContentIndex/1a7edd10-f77b-4f1b-bab4-120cbfaba77d.vsidx
