################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Neoris/FileContentIndex/1a7edd10-f77b-4f1b-bab4-120cbfaba77d.vsidx
/.vs/Neoris/FileContentIndex/5b8a3cf5-bf85-42eb-9f11-f0c98d235c9e.vsidx
/.vs/Neoris/FileContentIndex/927763ac-a0db-4b41-93c6-fbd9ec14db2c.vsidx
/.vs/Neoris/FileContentIndex/b4ad7f2b-0021-4fbd-8cf3-d9c2d0de316d.vsidx
/.vs/Neoris/FileContentIndex/98e0c742-b0f8-4fc3-b1f1-5a3c39310615.vsidx
